@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

html {
  font-size: 16px;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

/*navigation*/
nav {
  height: 3.875rem;
}

nav img {
  margin-left: 3.6875rem;
  height: 50px;
}

nav ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 3.4375rem;
}

ul a {
  color: #ffffff;
  margin-right: 3.4375rem;
}


@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    height: 2.5rem;
  }

  nav img {
    display: none;
  }

  .mobile {
    display: inline;
    margin-left: .625rem;
  }
}

/*jumbotron*/
.dancer-jumbo {
  background-image: url('../../resources/pyt_dance_studio_resources/dancers-photo.png');
  background-position: center;
  background-size: cover;
  /*text-align: center;*/
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  margin-bottom: 0;
}

.dancer-jumbo h1 {
  margin-top: 9.4375rem;
  margin-bottom: 2.6875rem;
  text-transform: uppercase;
  font-size: 3.125rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  /*width: 45rem;*/
  text-align: center;
}

.dancer-jumbo p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 5rem;
  text-align: center;
  margin-right: 50rem;
}


.dancer-jumbo .btn {
  border-radius: 2px;
  background-color: #f5a623;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.25rem 3.125rem;
  color: #ffffff;
  margin-bottom: 3.125rem;
}


@media only screen and (max-width: 890px) {
  .main-banner {
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
    width: 31.25rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    width: 18.5rem;
  margin-top: 7.125rem;
    margin-bottom: 1.625rem;
    font-size: 1.875rem;
  }

  .jumbo-paragraph {
    margin-bottom: 3.875rem;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }
}

/*graffiti*/
.graffiti {
  background-image: url('../../resources/pyt_dance_studio_resources/graffiti-photo.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 0;
  height: 31.25rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.875rem;
}

.backdrop1 {
  background-color: rgba(120, 73, 225, 0.9);
  width: 25rem;
  height: 20rem;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5rem;
  margin-left: 3rem;
}

/*fire*/
.fire {
  background-image: url('../../resources/pyt_dance_studio_resources/fire-photo.png');
  background-position: center;
  background-size: cover;
  width: auto;
  margin-top: 0;
  height: 31.25rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.875rem;
}

.backdrop2 {
  background-color: rgba(173, 74, 226, 0.9);
  width: 25rem;
  height: 20rem;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5rem;
  margin-left: 3rem;

}

/*jump*/
.jump {
  background-image: url('../../resources/pyt_dance_studio_resources/jump-photo.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 0;
  height: 31.25rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.875rem;
}

.main-h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: bold;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.4;
}
/*mobile*/
@media only screen and (max-width: 890px) {
  .main-h2{
    font-size: 1.875rem;
    line-height: 1.4;
    margin-bottom: .625rem;
    margin-left: 1.875rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 1.875rem;
    margin-right: 3.4375rem;
  }

  .graffiti, .fire, .jump {
    margin-top: 1.875rem;
  }

  .backdrop1, .backdrop2 {
    width: 100%;
  }

  strong {
    margin-left: 1.875rem;
  }
}


@media only screen and (max-width: 480px) {
  .main-h2{
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .backdrop1, .backdrop2 {
    width: 100%;
  }

  .graffiti, .fire, .jump {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

}

/*faculty page*/
/*jumbotron*/
.faculty-jumbo {
  background-image: url('../../resources/pyt_dance_studio_resources/faculty-photo.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 50px;
}

.faculty-jumbo h1 {
  margin-top: 9rem;
  color: #8a45ff;
}

.faculty-jumbo p {
  color: #999999;
}

/*faculty*/
.faculty {
  margin-bottom: 11.25rem;
}

.faculty img, span, h3, p {
  width: 16.875rem;
  font-family: 'Open Sans', sans-serif;
}

.faculty h3 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #8a45ff;
  margin-top: 1.25rem;
}

.faculty span {
  padding-bottom: .625rem;
  padding-top: .625rem;
  font-size: 1.125rem;
  height: .625rem;
}

.faculty p {
  line-height: 1.5;
  margin-bottom: 6.25rem;
}

@media only screen and (max-width: 480px) {
  .faculty h3 {
    font-size: 1.5rem;
  }

  .faculty span {
    font-size: 1rem;
  }

  .faculty p {
    font-size: .875rem;
    line-height: 1.5;
  }
}

/*classes*/
/*jumbotron*/
.classes-jumbo {
  background-image: url('../../resources/pyt_dance_studio_resources/classes-photo.png');
  background-position: center;
  background-size: cover;
  text-align: right;
  border-bottom: 1rem solid rgba(174, 75, 227, 0.9);
  margin-top: 50px;
}

.classes-jumbo h1 {
  color: rgba(174, 75, 227, 0.9);
  text-align: center;
}

/*classes*/
.classes h3 {
    color: rgba(174, 75, 227, 0.9);
}

/*about*/
/*jumbotron*/
.about-jumbo {
  background-image:   url('../../resources/pyt_dance_studio_resources/workout-photo.png');
  background-position: center;
  background-size: cover;
  border-bottom: 10px solid #794ae2;
  margin-top: 50px;
}

.about-jumbo h1 {
  font-weight: bold;
  font-size: 3.125rem;
  color: #794ae2;
  text-align: center;
}


/*about section*/
.about {
  text-align: center;
}

.about-div{
  display: flex;
  align-items: center;
}


.gray {
  justify-content: center;
  padding: 4rem 19%;
  background-color: #f2f2f2;
}

.gray .about-img {
  height: 9.375rem;
  margin-right: 5rem;
  .margin-bottom: 1rem;
  height: 6.25rem;
}

.gray .about-text {
  flex-direction: column;
  text-align: center;
}

.gray .about-text h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
  margin-bottom: 1rem;
}

.gray .about-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

.white {
  background-color: #ffffff;
  justify-content: center;
  padding: 4rem 19%;
}

.white .about-text {
  flex-direction: column;
  margin-right: 5rem;
  text-align: center;
}

.white .about-text h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
  margin-bottom: 1rem;
}

.white .about-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

.clock-heart {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 8900px) {
  .about img {
    margin-top: 1.875rem;
  }

  .about h2 {
    font-size: 1.75rem;
  }

  .about p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
  }

  .about img {
    height: 6.25rem;
  }
}

@media only screen and (max-width: 890px) {

}

@media only screen and (max-width: 480px) {

}


/*map*/
.map {
  background-image: url('../../resources/pyt_dance_studio_resources/map.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.25rem;
  width: auto;
  padding-top: 3.875rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.directions {
  background-color: rgba(120, 73, 225, 0.9);
  height: 20rem;
  width: 25rem;
  text-align: left;
  color: #ffffff;
  margin: 3rem 3rem 4rem 3rem;
}

.directions p {
  font-size: 1rem;
  line-height: 1.3;
}

.directions p:first-of-type {
  margin-bottom: 0;
}

.directions p a {
  font-weight: normal;
}

.directions h2 {
  margin-top: 1rem;
}

/*footer*/
footer{
  height: 3.125rem;
  width: auto;
  background-color: rgba(120, 73, 227, 0.9);
  color:#ffffff;
  font-size: .875rem;
}

footer .social-media {
  /*text-align: center;*/
  height: 3.125rem;
}

footer .copyright {
  text-align: center;
  font-size: .875rem;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  height: 15rem;
  width: auto;
  background-color: rgba(0, 0 ,0, 0.4);
  background-image: url('../../resources/pyt_dance_studio_resources/party-photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon a {
  /*width: 9.375rem;*/
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 890px) {
  .social-media {
    height: 2.5rem;
    text-align: center;
  }

  .copyright {
    height: 8.75rem;
    letter-spacing: 0;
    text-align: center;
  }

  footer img, h5 {
    display: none;
  }


  .icon {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  footer img, h5 {
    display: none;
  }

  .icon {
    text-align: center;
  }
}
